@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

p {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #fff;
}

.gtext {
  font-family: "DM Mono", serif;
  font-weight: 400;
  font-size: 21px;
  color: #8DFD1B;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  padding: 52px;
  max-width: 1450px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-links-list {
  display: flex;
}

.nav-list-item {
  font-family: "DM Mono", serif;
  margin-right: 40px;
  transition: color 0.2s ease-in;
}

.nav-list-item a:hover {
  color: #8DFD1B;
}

.nav-icon-list {
  gap: 12px;
}

.nav-icon-list li {
  background-color: #fff;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.nav-icon-list li:hover {
  background-color: #8DFD1B;
}

.welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  margin: 0px 76px;
  max-width: 1450px;
}

.welcome-title {
  font-size: 51px;
  margin-bottom: 44px;
  max-width: 480px;
}

.welcome-subtitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 44px;
  max-width: 340px;
}

.welcome-button {
  padding: 22px 40px;
  background-color: #8DFD1B;
  font-family: "DM Mono", serif;
  border: none;
  transition: all 0.7s;
}

.welcome-button:hover {
  background-color: #fff;
}

.collection {
  margin-top: 114px;
  max-width: 1450px;
}

.collection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-title {
  font-size: 38px;
}

.collection-sectitle {
  font-size: 38px;
  color: #a8a8a8;
  margin-bottom: 42px;
}

.collection-text {
  max-width: 545px;
}

.collection-green {
  color: #8DFD1B;
  font-family: "DM Mono", serif;
  font-size: 21px;
  line-height: 32px;
  border-left: 2px solid;
  border-color: #8DFD1B;
  padding-left: 22px;
  margin-bottom: 32px;
}

.collection-info {
  font-family: "Inter", serif;
}

.collection-info-pgh {
  display: flex;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}

.collection-btn {
  font-family: "DM Mono", serif;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0%;
  background-color: #000000;
  border: 1px solid #8DFD1B;
  color: #fff;
  padding: 10px 33px 16px 33px;
  transition: all 0.2s ease-in;
}

.collection-btn:hover {
  background-color: #8DFD1B;
  color: #000000;
}

.artists {
  max-width: 1450px;
}

.artists-string {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  margin-top: 120px;
}

.artists-text {
  font-family: "Audiowide", serif;
  font-size: 79px;
  color: #fff;
  margin-right: 394px;
  animation: marquee infinite 15s linear;
  margin-bottom: 140px;
}

.artists-people {
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  gap: 60px;
}

.artists-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.artists-name {
  font-family: "DM Mono", serif;
  font-size: 16px;
  padding-top: 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.story {
  max-width: 1450px;
}

.story-container {
  display: flex;
  flex-direction: row;
}

.story-title {
  font-family: "Audiowide", serif;
  font-size: 38px;
  align-items: center;
}

.story-title .gray-color {
  color: #a8a8a8;
}

.story-header {
  display: flex;
  justify-content: center;
}

.story-list-item {
  background-color: #000000;
  color: #fff;
  display: flex;
  max-width: 282px;
  font-family: "DM Mono", serif;
  cursor: pointer;
  padding: 25px 134px 31px 28px;
}

.story-list-item.active {
  color: #8DFD1B;
  background-color: #222222;
}

.story-content {
  padding: 60px;
  display: flex;
  flex-direction: row;
  background-color: #222222;
  max-width: 878px;
}

.story-img {
  width: 170px;
  height: 250px;
}

.story-content-header {
  color: #8DFD1B;
  font-family: "DM Mono", serif;
  font-size: 21px;
  line-height: 32px;
  border-left: 2px solid;
  border-color: #8DFD1B;
  padding-left: 22px;
  margin-bottom: 32px;
}

.story-text {
  padding-left: 40px;
}

.story-content-sbtitle {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.story-content-pgh {
  font-family: "Inter", serif;
  font-size: 16px;
}

.story-list-item:hover {
  background-color: #222222;
  opacity: 0.7;
  color: #8DFD1B;
}

.story-list-item.active:hover {
  opacity: 1;
}

.roadmap {
  max-width: 1450px;
}

.roadmap-title {
  display: flex;
  justify-content: center;
  margin: 115px 0px;
  font-size: 38px;
}

.roadmap-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.roadmap-list-item {
  background-color: #222222;
  border: 1px solid #8DFD1B;
  max-width: 540px;
  margin-bottom: 140px;
}

.item-header {
  display: flex;
  border-bottom: 1px solid #8DFD1B;
  align-items: center;
  justify-content: start;
  padding: 12px 0px 12px 12px;
}

.item-count {
  color: #8DFD1B;
  font-family: "DM Mono", serif;
  font-size: 28px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8DFD1B;
}

.item-count.completed {
  background-color: #8DFD1B;
  color: #fff;
}

.item-text {
  padding-left: 12px;
}

.text-status {
  font-size: 8px;
  letter-spacing: 1px;
  font-family: "DM Mono", serif;
  text-transform: uppercase;
  color: #8DFD1B;
}

.text-title {
  font-family: "DM Mono", serif;
  font-size: 16px;
  text-transform: uppercase;
}

.item-content {
  display: flex;
  margin: 15px 13px 22px 13px;
  align-items: center;
}

.item-content-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "Inter", serif;
}

.content-quote {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0px 0px 15px 30px;
}

.desc-pgh {
  padding-right: 10px;
}/*# sourceMappingURL=styles.css.map */