.artists {
    max-width: 1450px;
}
.artists-container {
    
}
.artists-string {
    display: flex;
    flex-direction: row;
    // transform: translateX(-100px); тогда на 100 пикселей смещается оверфлоу
    overflow-x: hidden;
    margin-top: 120px;
}
.artists-text {
    font-family: $audio-font;
    font-size: 79px;
    color: $color-white;
    margin-right: 394px;
    animation: marquee infinite 15s linear;
    margin-bottom: 140px;
    
}
.artists-people {
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;
    gap: 60px;
}
.artists-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.artists-name {
    font-family: $dmmono-font;
    font-size: 16px;
    padding-top: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}