.header {
    padding: 52px;
    max-width: 1450px;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    align-items: center;
}

.nav-links-list{
    display: flex;
}

.nav-list-item{
    font-family: $gtext-font;
    margin-right: 40px;
    transition: color 0.2s ease-in;
}

.nav-list-item a:hover{
    color: $color-green;
}

.nav-icon-list{
    gap: 12px;
}

.nav-icon-list li{
    background-color: $color-white;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.nav-icon-list li:hover{
    background-color: $color-green;  
}
