// .roadmap {

// }
// .roadmap-background-top-image {

// }
// .roadmap-container {

// }
// .roadmap-circle {

// }
// .roadmap-circle1 {

// }
// .roadmap-circle2 {

// }
// .roadmap-circle3 {

// }
.roadmap-title {
    display: flex;
    justify-content: center;
    margin: 115px 0px;
    font-size: 38px;

}
.roadmap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.roadmap-list-item {
    background-color: $color-dack-gray;
    border: 1px solid $color-green;
    max-width: 540px;

    margin-bottom: 140px;
}
.item-header {
    display: flex;
    border-bottom: 1px solid $color-green;
    align-items: center;
    justify-content: start;
    padding: 12px 0px 12px 12px;
}
.item-count {
    color: $color-green;
    font-family: $dmmono-font;
    font-size: 28px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-green;
    
}
.item-count.completed {
    background-color: $color-green;
    color: $color-white;
}
.item-text {
    padding-left: 12px;
}
.text-status {
    font-size: 8px;
    letter-spacing: 1px;
    font-family: $dmmono-font;
    text-transform: uppercase;

    color: $color-green;
}
.text-title {
    font-family: $dmmono-font;
    font-size: 16px;
    text-transform: uppercase;
}
.item-content {
    display: flex;
    margin: 15px 13px 22px 13px;
    align-items: center;
}

.item-content-text{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: $inter-font;
}

.content-quote {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    padding: 0px 0px 15px 30px;
}
.quote-pgh {
    
}
.content-desc {
    
}
.desc-pgh {
    padding-right: 10px;
}


