.story {

}
.story-container {
    display: flex;
    flex-direction: row;

    margin: 60px 240px 120px 40px;
}
.story-title {
    font-family: $audio-font;
    font-size: 38px;
    align-items: center;
}

.story-title .gray-color{
    color: $color-gray;
}
.story-header {
    display: flex;
    justify-content: center;
}
.story-aside {

}
.story-list {

}
.story-list-item {
    background-color: $color-black;
    color: $color-white;
    display: flex;
    max-width: 282px;
    font-family: $dmmono-font;
    cursor: pointer;

    padding: 25px 134px 31px 28px;
}
.story-list-item.active {
    color: $color-green;
    background-color: $color-dack-gray;
}
.story-content {
    padding: 60px;
    display: flex;
    flex-direction: row;
    background-color: $color-dack-gray;
    max-width: 878px;
}
.story-img {
    width: 170px;
    height:250px;
}

.story-content-header{
    color: $color-green;
    font-family: $gtext-font;
    font-size: 21px;
    line-height: 32px;

    border-left: 2px solid;
    border-color: $color-green;
    padding-left: 22px;
    margin-bottom: 32px;
}

.story-text {
    display: flex;
    flex-direction: column;
    text-align: start;

    padding-left: 40px;
}

.story-content-sbtitle{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.story-content-pgh {
    font-family: $inter-font;
    font-size: 16px;
}

.story-list-item:hover{
    background-color: $color-dack-gray;
    opacity: 0.7;
    color: $color-green;
}

.story-list-item.active:hover{
    opacity: 1;
}