.welcome {

}

.welcome-container {      
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: none;
  margin: 0px 76px;
  max-width: 1450px;
}

.welcome-title {
  font-size: 51px;
  margin-bottom: 44px;

  max-width: 480px;
}
.welcome-subtitle {
  font-size: $pgh-font-size;
  font-weight: 400;

  margin-bottom: 44px;
  max-width: 340px;
}
.welcome-button {
  padding: 22px 40px;
  

  background-color: $color-green;
  font-family: $gtext-font;

  border: none;
  transition: all 0.7s;
}

.welcome-button:hover{
  background-color: $color-white;
}

.welcome-img{

}