@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

$color-green: #8DFD1B;
$color-black: #000000;
$color-white: #fff;
$color-gray: #a8a8a8;

$header-font: "Audiowide", serif;;
$pgh-font: "Inter", serif;;
$gtext-font: "DM Mono", serif;

$gtext-font-size: 21px;

body{
    background-color: $color-black;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: $color-white;
}

h1,h2,h3,h4,h5,h6{
    font-family: $header-font;
    font-weight: 400;
    font-style: normal;
    color: $color-white;
}

p{
    font-family: $pgh-font;
    font-optical-sizing: auto;
    font-weight: 400;
    color: $color-white;
}

.gtext{
    font-family: $gtext-font;
    font-weight: 400;
    font-size: $gtext-font-size;
    color: $color-green;
}

.gbtn{
    font-family: $gtext-font;
    color: $color-black;
    background-color: $color-green;

}

.container{
    max-width: 1160px;
    margin: 0 auto;
}